<section>
  &lt;div class="
  <input type="text" ng-model="redparentClass">
  "&gt;<br>
  &lt;div class="<input type="text" ng-model="redprogressClass">" role="<input type="text" ng-model="redroleValue">" aria-valuenow="<input type="text" ng-model="redcurrentValue">" aria-valuemin="<input type="text" ng-model="redminValue">" aria-valuemax="<input type="text" ng-model="redmaxValue">" style="<input type="text" ng-model="redstyleValue">"&gt;<br>
  &lt;/div&gt;<br>
  &lt;/div&gt;
  <br>
  <div red-progress-directive redparent-class="{{redparentClass}}" redprogress-class="{{redprogressClass}}" redrole-value="{{redroleValue}}" redcurrent-value="{{redcurrentValue}}" redmin-value="{{redminValue}}" redmax-value="{{redmaxValue}}" redstyle-value="{{redstyleValue}}"></div>

</section>
